body {
  font-family: ProximaNovaExtraBold,Arial, Helvetica, sans-serif;
}

.main-hed {
  height: 73vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-hed .hed {
  width: 55%;
  padding: 4% 5% 0 11%;
}

.main-hed .hed .icn-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-hed .hed .swiggy-icn {
  width: 23%;
}

.main-hed .hed .swiggy-icn img {
  width: 100%;
}

.main-hed .hed .heading h4 {
  opacity: 0.6;
}

.main-hed .hed .dloc {
  width: 100%;
}

.main-hed .hed .dloc .dloc1 {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid coral;
  padding: 1%;
}

.main-hed .hed .dloc .dloc1 input {
  width: 60%;
}

.main-hed .hed .dloc .ff {
  background-color: coral;
  color: white;
  text-transform: uppercase;
}

.main-hed .hed .dloc button {
  font-size: 14px;
}

.main-hed .hed a {
  text-decoration: none;
  color: darkgray;
}

.main-hed .hed a:nth-child(odd) {
  color: gray;
}

.main-hed .hed span {
  opacity: 0.4;
  font-size: 15px;
}

.main-hed .image {
  width: 45%;
  background-image: url("https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,h_1340/Breakfast1-new_q6cje7");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.x4 {
  background-color: #2B1E16;
  color: white;
  padding: 0 5% 5% 5%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.x4 .ig {
  padding-bottom: 42px;
}

.x4 .ig img {
  width: 25%;
}

.x4 .ig-text {
  padding: 0 20%;
}

.x4 .ig-text h5 {
  font-size: 20px;
  font-weight: 600;
}

.x4 .ig-text h6 {
  font-size: 15px;
  opacity: 0.6;
}

.app-d {
  padding: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.app-d .rest {
  width: 300px;
  font-size: 40px;
  line-height: 100%;
  font-weight: 600;
}

.app-d .rest-text {
  font-size: 20px;
  width: 400px;
  padding: 2% 0 5% 0;
  opacity: 0.6;
}

.app-d img {
  width: 15%;
  padding-right: 10px;
}

.app-d .android-app1 {
  position: absolute;
  top: 0;
  right: 30%;
  width: 25%;
}

.app-d .android-app2 {
  position: absolute;
  right: 8%;
  bottom: 0;
  width: 25%;
}

.support {
  background-color: black;
  color: white;
  line-height: 225%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5% 10%;
}

.support li {
  list-style: none;
}

.support ul {
  padding: 0;
}

.support h6 {
  opacity: 0.6;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 15px;
}

.support .app-down img {
  width: 80%;
}

.support .s {
  width: 100%;
}
/*# sourceMappingURL=home.css.map */